body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: wheat;
  text-align: center;
}
p {
  color: red;
  
  line-height: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: green;
}

h {
  align-items: center;
}

h3 {
  color: black;
}

button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}