* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;

  background-color: #eea29a;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #f7786b;

  display: flex;

  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  color: white;

  font-family: "Courier New", Courier, monospace;
}
.main {
  text-align: center;
}

button {
  height: 150px;
  width: 150px;

  position: relative;
  top: 5rem;

  border-radius: 50%;

  border: 4px solid #034f84;

  font-size: 0.9rem;
  font-weight: 600;
  font-family: fantasy;

  box-shadow: 0px 0px 8px #92a8d1;
  padding: 3px;

  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 20px #92a8d1;
  padding: 0px;
}

p {
  position: relative;
  top: 50%;
  text-align: center;
}
