section {
  margin-top: 100px;
}

div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #7aa874;
  border: 2px solid black;
  margin: 10px;
}

div:nth-of-type(2n) {
  background-color: #f7db6a;
}

div:nth-of-type(3n) {
  background-color: #ebb02d;
}

#one {
  transform: rotate(45deg);
}

#two {
  transform: scale(0.5);
  margin: 0px;
}

#three {
  transform: translate(50px, 15px);
}

#four {
  transform: skew(30deg, 15deg);
}

#Prac3Div {
  margin: 0 auto;
  margin-bottom: 50px;
  height: 100px;
  width: 250px;
  display: grid;
  place-items: center;

  transform: skew(15deg);
  font-size: larger;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 4px 4px 10px  aqua;
}
#Prac3Div1 {
  margin: 0 auto;
  height: 100px;
  width: 250px;
  display: grid;
  place-items: center;

  transform: skew(15deg);
  font-size: larger;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 4px 4px 5px red, -2px -2px 5px red;

}

body{
    background-color:blueviolet;
}