body{
    background-color: blueviolet;
}
div{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: orangered;
    transition: all 1s ease 0.5s;
}


div:hover{
    opacity: 0.5;
    border-radius: 50%;
}