.frame {
  height: 400px;
  width: 800px;
  background-color: red;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.inFrame {
  color: beige;
  font-size: large;
  height: 190px;
  width: 220px;
  background-color: blueviolet;
  border: 2px solid black;
}
