*{
    margin: 0;
    padding: 0;
    font-family: "Mozilla Text", sans-serif;
}

.main_box{
    height: 100vh;
    background-color: skyblue;
}

.container1{
    height: 400px;
    width: 330px;

    position: absolute;
    right: 10%;
    
    background-color: wheat;
}