* {
  background-color: blueviolet;
}
#outter {
  height: 500px;
  width: 200px;
  background-color: white;
  margin-left: 45%;
  border: 1px solid transparent;
  border-radius: 20px;
}

#outBorder {
  height: 480px;
  width: 180px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;

  margin-top: 5px;
  margin-left: 5px;
}

.inner {
  height: 105px;
  width: 105px;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 33px;
}

#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
